body {
    margin: 0;
    padding: 0;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    color: #333;

}


#game-area {
    border: solid black 5px;
    position: relative;
    width: 1168px;
    height: 648px;
    background-color: #bfedf5;
    overflow: hidden;
}

#chao {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 32px;
    background-image: url('assets/chao_deserto.png');
    background-size: 128px;
    background-repeat: repeat-x;
    image-rendering: pixelated;

}


#alpaca, #cacto{
    position: absolute;
    bottom: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;

}

#alpaca {
    width: 128px;
    height: 128px;
    left: 50px;
    background-image: url('assets/alpaca.gif');
}

#cacto {
    width: 128px;
    height: 128px;
    left: 700px;
    background-image: url('assets/cacto.png');
}

#hitbox-alpaca {
    position: absolute;
    width: 101px;
    height: 40px;
    left: 4px;
    bottom: 0;
    /*background-color: rgba(255, 0, 0, 0.3);*/
    pointer-events: none;
}
#hitbox-cacto {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 34px;
    bottom: 0;
    /*background-color: rgba(255, 0, 0, 0.3);*/
    pointer-events: none;
}

#reset {
    position: absolute;
    bottom: 112px;
    left: 50%;
    transform: translateX(-50%);
    border-style: double;
    border-radius: 4%;
    background-color: rgb(167, 167, 167);
    width: 166px;
    height: 60px;
    font-size: 30px;
    font-family: 'Press Start 2P';
}

#fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/montanhas3.png');
    background-repeat: repeat-x;
    background-size: 1300px;
    image-rendering: pixelated;
    z-index: 0; 
}

#nuvens {
    background-image: url('assets/nuvem1.png') ;
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat-x;
    background-size: 448px;
    image-rendering: pixelated;
    z-index: 0;
}